# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caching directories
.cache/
.pycache/

# Virtual environment
.venv/
env/

# Environment variables
.env

# IDE settings
.idea/
.vscode/

# Log files
*.log
